#contact {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: orchid;
}
header {
    color: darkcyan;
}

header nav {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        font-size: 1.55vw;
}
